#extractor-outputs {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.container {
  margin-top: 10pt;
  padding: 10pt;
}

.container button {
  margin: 0 auto;
  display: block;
}

.container md-spinner {
  height: 20px;
  width: 20px;
  margin: 0 auto;
  display: block;
}

md-list-item {
  cursor: pointer;
}
