#extractor-outputs {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

.container {
  margin-top: 10pt;
  padding: 10pt;
}

.container button {
  margin: 0 auto;
  display: block;
}

.container mat-spinner {
  margin: 0 auto;
  display: block;
}

mat-list-item {
  cursor: pointer;
}
