<div class="container">
  <md-select #extractorSelect
    placeholder="Extractors">
    <md-option
      *ngFor="let extractor of extractors"
      [value]="extractor.combinedKey"
    >
      {{extractor.name}}
    </md-option>
  </md-select>
  <p>
    <button md-raised-button
            color="primary"
            (click)="extract(extractorSelect.selected.value)"
            [disabled]="disabled">Extract</button>
  </p>
  <p>
    <button md-raised-button
            (click)="load(extractorSelect)">Load Remote Plugins</button>
  </p>
</div>
