<div class="container">
  <md-list dense>
    <ng-container
      *ngFor="let extractor of extractors"
    >
      <h3 md-subheader>{{extractor.name}}</h3>
      <md-list-item
        *ngFor="let output of extractor.outputs"
        (click)="extract(output)">
        <md-icon md-list-icon>{{getFeatureIconName(output)}}</md-icon>
        <h4 md-line>{{output.name}}</h4>
        <p md-line>{{output.combinedKey}}</p>
        <button md-icon-button
                (click)="extract(output); $event.stopPropagation()"
                [disabled]="disabled">
          <md-icon>add</md-icon>
        </button>
      </md-list-item>
      <md-divider></md-divider>
    </ng-container>
  </md-list>
  <md-spinner *ngIf="isLoading"></md-spinner>
  <button
    md-button
    (click)="load()"
    [disabled]="isLoading"
  >Load more</button>
</div>
