<div class="container">
  <mat-list dense>
    <ng-container
      *ngFor="let extractor of extractors"
    >
      <h3 mat-subheader>{{extractor.name}}</h3>
      <mat-list-item
        *ngFor="let output of extractor.outputs"
        (click)="extract(output)">
        <mat-icon mat-list-icon>{{getFeatureIconName(output)}}</mat-icon>
        <h4 mat-line>{{output.name}}</h4>
        <p mat-line>{{output.combinedKey}}</p>
        <button mat-icon-button
                (click)="extract(output); $event.stopPropagation()"
                [disabled]="disabled">
          <mat-icon>add</mat-icon>
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
  <mat-spinner
    *ngIf="isLoading"
    [diameter]="25"
    [strokeWidth]="2"
  ></mat-spinner>
  <button
    mat-button
    (click)="load()"
    [disabled]="isLoading"
  >Load more</button>
</div>
