md-card {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  padding-bottom: 0;
  user-select: none;
}

md-card-actions {
  width: calc(100% - 16px);
  padding-left: 16px;
}

md-card-header {
  margin-bottom: 8px;
}

md-card-content {
  margin-bottom: 0;
}

md-card-actions {
  text-align: right;
}

ugly-live-play-head {
  position: absolute;
  z-index: 99;
  height: 160px;
}

.content {
  height: 160px;
  width: 100%;
  cursor: pointer;
}

