.app-toolbar-filler {
  flex: 1 1 auto;
}

md-sidenav-layout {
  height: calc(100vh - 64px); /* height of window minus the toolbar height*/
}

md-sidenav {
  text-align: center;
}

.md-tab-body {
  background-color: black;
}

