.ugly-toolbar-filler {
  flex: 1 1 auto;
}

md-sidenav-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

md-sidenav {
  text-align: center;
}

.ugly-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ugly-header {
  flex: 0 0 auto;
}

.ugly-content {
  flex: 1;
  overflow-y: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.ugly-footer {
  flex: 0 0 auto;
}
